beautifulsoup4==4.13.5
Brotli==1.1.0
cffi==2.0.0
cssselect2==0.8.0
dnspython==2.7.0
fonttools==4.59.2
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.3.0
pycparser==2.23
pydyf==0.11.0
pymongo==4.13.2
pyphen==0.17.2
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-dotenv==1.1.1
shiboken6==6.9.1
soupsieve==2.8
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
